/**/
.grid-container{
  background-color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "nav nav nav nav"
  "main main main main"
  "main main main main"
  "servicios servicios servicios servicios"
  "footer footer footer footer";
  column-gap: .5em;
  row-gap: .4em;
  box-sizing: border-box;
}

/*Boton flotante Whatsapp-------------------------------------------*/

.floating-button{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: whitesmoke;
  color: #4aed25;
  padding: 10px;
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease; /* Agrega una transición suave a todos los cambios */
  z-index: 1000; 
}

.floating-button:hover {
    transform: scale(1.1); /* Escala el botón al 110% cuando el cursor pasa sobre él */
}

.floating-button img {
  margin-left: 8px;
  max-width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  border-radius: 50px;
}

/* Agrega la nueva clase para la animación */
.bell-animation {
  animation: bellAnimation 2s infinite alternate;
}

/* Define la animación */
@keyframes bellAnimation {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

/*---------------NAVBAR-------------------------------*/

.item1 {
  font-family: 'Anton', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  z-index: 1000;
  background-color: rgb(59, 112, 226);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s; /* Agrega una transición suave para el cambio de posición */

}

.logo img{
  width: 200px;
  height: 50px;
  margin-left: 10px;
}

.links{
  margin-right: 30px;
  display: flex;
  gap: 10px;  
  flex-wrap: wrap;
}

.links a{
  text-decoration: none;
  color: white;
}

.links a:hover{
  color: aqua;
  cursor: pointer;
}

/*-------------------------MAIN------------------------------------*/
  
.main {
  grid-area: main;
  margin-top: 70px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.main h1 {
  font-size: 1.5rem;
  color: rgb(59, 112, 226);
  font-weight: bold;
}

.main p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #333;
  max-width: 400px; 
}

.main img{
  width: 400px;
  height: 100%;
  border-radius: 10px;
}

.item4{
  grid-area: servicios;
  margin-top: 50px;
  margin: 5px;
}
  
.item5{
  grid-area: footer;
  background-color: rgb(59, 112, 226);
}



/*-------------------SERVICIOS------------------------------------------------*/

.servicios{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 1px 4px rgb(0,0,0,0.2);
  margin: 20px;
}

.card img{
  width: 100%;
  height: auto;
}

.card-content{
  padding: 16px;
}

.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content a{
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}




/*--------------------------------------CONTACTOO------------------------------------*/

.contacto-body{
  background: url('images/mantenimiento2.jpg') no-repeat center center fixed;
  background-size: cover;
}

.form-container{
  margin: 70px 0px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.form{
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 340px;
  background-color: #F0FAF1;
}

.input-group{
  display: flex;
  flex-direction: column;
  text-align: left;
}

form h2{
  color: rgb(22, 31, 66);
  font-size: 35px;
}

label{
  color: rgb(22, 31, 66);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

input, textarea{
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: lightblue;
  border: 2px solid #F0FAF1;
  color: rgb(22, 31, 66);
}

textarea{
  resize: none;
}

input::placeholder, textarea::placeholder{
  color: #5d79a6;
}

.btn{
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  background-color: #4ca1d9;
  box-shadow: 0 0 20px rgba(0, 102, 254, 0.4);
  cursor: pointer;
}

.btn:hover{
  background-color: #4cc1d9;
}

/*--------------------------FOOTER-------------------------------------*/

.footer{
  grid-area: footer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(59, 112, 226);
  padding: 5px;
  text-align: center;
  font-size: 1rem;
}

.footer-contact,
.footer-social,
.footer-legal{
  line-height: 1em;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 1em;
}

.footer-legal p{
  font-size: .75rem;
}

.footer-social img{
  width: 20px;
  height: 20px;
}

.icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  text-transform: uppercase;
}
